section {
  padding: 80px 0px;
}

h1 {
  color: var(--wp--preset--color--text);
  font-family: var(--wp--preset--font-family--synthese);
  font-size: var(--wp--preset--font-size--head-1);
  font-weight: 700;
  line-height: 90px;
  margin-bottom: 40px;
  letter-spacing: -5%;
}

h2 {
  color: var(--wp--preset--color--text);
  font-family: var(--wp--preset--font-family--synthese);
  font-size: var(--wp--preset--font-size--head-2);
  font-weight: 700;
  line-height: 56px;
  letter-spacing: -2%;
}

h3 {
  color: var(--wp--preset--color--text);
  font-family: var(--wp--preset--font-family--synthese);
  font-size: var(--wp--preset--font-size--head-3);
  font-weight: 400;
  line-height: 48px;
  letter-spacing: -2%;
}

h4,
h5,
h6 {
  color: var(--wp--preset--color--text);
  font-family: var(--wp--preset--font-family--synthese);
  font-size: var(--wp--preset--font-size--head-4);
  font-weight: 700;
  line-height: 32px;
}

p, textarea, label, input, select, option, td {
  color: var(--wp--preset--color--text);
  font-family: var(--wp--preset--font-family--synthese);
  font-size: var(--wp--preset--font-size--paragraph);
  font-weight: 400;
  line-height: 27px;
}

strong {
  font-weight: bold;
}

a {
  color: var(--wp--preset--color--text);
  font-family: var(--wp--preset--font-family--synthese);
  font-size: var(--wp--preset--font-size--paragraph);
  font-weight: 400;
  line-height: 24px;
}

a:hover {
  color: var(--wp--preset--color--primary);
}

.wp-block-button a,
.wp-block-button div {
  font-family: var(--wp--preset--font-family--cabinet-grotesk-black);
  line-height: 30px;
  color: var(--wp--preset--color--smooth-text) !important;
  border: 0px !important;
  font-size: 24px;
  font-weight: 900;
  border-radius: 50%;
  background-color: var(--wp--preset--color--primary);
  position: relative;
  padding: 25px 100px 25px 25px !important;
  text-transform: uppercase;
}

.wp-block-button a:before,
.wp-block-button div:before {
  content: "";
  background-image: url('../../assets/icons/groovy-flower.svg');
  background-position: center;
  position: absolute;
  top: 12px;
  right: 20px;
  height: 56px;
  width: 56px;
  transition: all 0.5s ease-in-out;
}

.wp-block-button a:after,
.wp-block-button div:after {
  content: "";
  background-image: url('../../assets/icons/groovy-flower-arrow.svg');
  background-position: center;
  position: absolute;
  top: 27px;
  right: 35px;
  height: 26px;
  width: 24px;
}

.wp-block-button a:hover:before,
.wp-block-button div:hover:before {
  transform: rotate(45deg);
} 

.wp-block-button.is-style-outline a,
.wp-block-button.is-style-outline div {
  font-family: var(--wp--preset--font-family--cabinet-grotesk-black);
  line-height: 24px;
  color: var(--wp--preset--color--smooth-text) !important;
  border: 0px !important;
  font-size: 32px;
  font-weight: 900;
  border-radius: 50%;
  position: relative;
  padding: 25px 80px 25px 0px !important;
  text-transform: uppercase;
  background-color: transparent;
}

.wp-block-button.is-style-fill a,
.wp-block-button.is-style-fill div {
  font-family: var(--wp--preset--font-family--cabinet-grotesk-black);
  line-height: 30px;
  color: var(--wp--preset--color--smooth-text) !important;
  border: 0px !important;
  font-size: 24px;
  font-weight: 900;
  border-radius: 250px;
  background-color: var(--wp--preset--color--primary);
  position: relative;
  padding: 25px 100px 25px 25px !important;
  text-transform: uppercase;
}

.wp-block-button.is-style-outline a::after,
.wp-block-button.is-style-outline div::after {
  content: url("../../assets/icons/arrow-ic.svg");
  position: absolute;
  right: 30px;
  top: 24px;
  transition: all 0.5s ease-in-out;
}

.wp-block-button.is-style-outline a::before, 
.wp-block-button.is-style-outline div::before {
  content: none;
}

.wp-block-button.is-style-outline a:hover::after,
.wp-block-button.is-style-outline div:hover::after {
  transform: rotate(45deg);
}

input[type="text"], input[type="email"], input[type="tel"], input[type="number"], input[type="password"], textarea, select, option {
  border: 0px solid transparent;
  border-bottom-color: var(--wp--preset--color--mid-grey);
  border-bottom-width: 1px;
}

textarea {
  min-height: 100px;
  min-width: 100%;
  max-width: 100%;
  height: 100px;
}


input[type="text"], input[type="email"], input[type="tel"], input[type="number"], input[type="password"], select, option, textarea {
  background-color: transparent;
}

input[type="submit"] {
  cursor: pointer;
}

::placeholder {
  color: var(--wp--preset--color--mid-grey);
  opacity: 1;
}

::-ms-input-placeholder {
  color: var(--wp--preset--color--mid-grey);
}

@media (max-width: 1200px) {
  :root {
    --wp--style--global--content-size: calc(min(100% - 96px, 1920px));
  }
}

@media (max-width: 767px) {
  :root {
    --wp--style--global--content-size: calc(min(100% - 48px, 1920px));
  }
  h1 {
    font-size: 48px;
    line-height: 54px;
  }
  h2 {
    font-size: 36px;
    line-height: 49px;
  }
  h3 {
    font-size: 29px;
    line-height: 40px;
  }
  h4, h5, h6 {
    font-size: 20px;
    line-height: 35px;
  }
  p, textarea, label, input, select, option, td {
    font-size: 16px;
    line-height: 24px;
  }
}